/* #B39581 */
 /* #E69F6C */
 /* #D1F1FF */
 /* #B3A081 */
 /*  */
 /* #FFE9C4 */
 .layout {
     position: relative;
 }
 .header-wrapper {
     height: 175px;
     background-color: rgb(209, 241, 255);
     z-index: 2;
     padding: 20px;
 }
 .home-header-wrapper {
    height: 80vh;
    background-color: rgb(209, 241, 255);
    position: relative;
    z-index: 2;
    padding: 20px;
}
.nav-section {
    z-index: 3;
    position: absolute;
    top: 0;
}
nav ul li {
    display: inline-block;
    padding: 0 15px;
}
.page-header a, .page-header a:hover, header a, header a:hover {
    text-decoration: none;
    color: #66d9ff;
}
.page-header h1 a {
    color: #fff;
    font-weight: bold;
    font-size: 46px;
}

.clouds {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../images/clouds.jpg');
    background-size: cover;
    background-position: bottom left; 
}

main {
    padding: 20px;
}

footer {
    min-height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}